* {
    margin: 0;
    padding: 0;
}

body {
    background-color: hsl(0, 0%, 95%);
}

.flex-box {
    width: 47%;
    margin: auto;
    margin-top: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.orange-box {
    display: flex;
    flex-direction: column;
    height: 400px;
    background-color: hsl(31, 77%, 52%);
    padding-inline: 3em;
    padding-top: 3em;    
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.cyan-box {
    display: flex;
    flex-direction: column;
    height: 400px;
    background-color: hsl(184, 100%, 22%);
    padding-inline: 3em;
    padding-top: 3em;
}


.darkcyan-box {
    display: flex;
    flex-direction: column;
    height: 400px;
    background-color: hsl(179, 100%, 13%);
    padding-inline: 3em;
    padding-top: 3em;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.card-info {
    margin-bottom: 70px;
}

h2 {
    font-family: 'Big Shoulders Display', sans-serif;
    font-weight: 700;
    color: hsl(0, 0%, 95%);
    padding-bottom: 1.5rem;
    font-size: 32px;

}

p {
    font-family: 'Lexend Deca', ans-serifs;
    font-weight: 400;
    font-size: 15px;
    color: hsla(0, 0%, 100%, 0.75);
    padding-top: 15px;
    
}

img {
    margin: 0;
    width: 4em;
    padding-bottom: 1.5em;
}

button {
    background-color: hsl(0, 0%, 95%);
    padding-block: 1em;
    width: 10em;
    border-radius: 25px;
    border-style: none;
}

button a {
    text-decoration: none;
    font-size: 15px;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
}

.orange-box button a {
    color: hsl(31, 77%, 52%);
}

.cyan-box button a {
    color: hsl(184, 100%, 22%);
}

.darkcyan-box button a {
    color: hsl(179, 100%, 13%);
}

@media screen {
    
}